In [4]:
import numpy as np
import pandas as pd
from numpy.linalg import inv

names = ['Year','Yt','Yt-1','Yt-2','Yt-3']
data = pd.read_csv('ar.csv',names=names)
data.sample(n=5)

    Year     Yt   Yt-1   Yt-2   Yt-3
8      9  119.0  103.2   94.7   86.2
7      8  103.2   94.7   86.2   90.4
6      7   94.7   86.2   90.4   87.2
12    13  181.0  157.6  131.6  122.4
14    15  244.1  217.8  181.0  157.6

In [5]:
Yt = data.loc[:,'Yt']
Yt1 = data.loc[:,'Yt-1'].dropna()
Yt2 = data.loc[:,'Yt-2'].dropna()
Yt3 = data.loc[:,'Yt-3'].dropna()

In [6]:
Matriks_1 = pd.DataFrame([1,1,1,1,1,1,1,1,1,1,1,1,1,1,1])

In [7]:
Matriks_X = Matriks_1.join(Yt1, lsuffix='_Matriks_1',rsuffix='_Yt1').dropna()

In [8]:
Matriks_Y = Yt[1:]

In [9]:
Matriks_Xt = pd.DataFrame.transpose(Matriks_X)

In [10]:
MXt_MX = pd.DataFrame.dot(Matriks_Xt,Matriks_X)

In [11]:
MXt_MY = pd.DataFrame.dot(Matriks_Xt,Matriks_Y)

In [12]:
inv_MXt_MX = pd.DataFrame(np.linalg.pinv(MXt_MX.values), MXt_MX.columns, MXt_MX.index)

In [13]:
vb = pd.DataFrame.dot(inv_MXt_MX,MXt_MY)

In [14]:
ls = []
yt = []
for x in Yt1:
    for y in vb:
        if y not in ls:
            ls.append(y)
    hasil = ls[0] + ls[1] * x
    yt.append(hasil)
yt = pd.DataFrame(yt)

In [15]:
se = []
for a,b in zip(yt.values,Matriks_Y.values):
    se.append((a-b)**2)
se = pd.DataFrame(se)

In [16]:
mse = se.mean()

In [17]:
rmse = np.sqrt(mse)

In [20]:
print('RME:',mse,'\nRMSE:',rmse)

RME: 0    59.216193
dtype: float64
RMSE: 0    7.695206
dtype: float64